/.phpintel
*.sublime-workspace
*.sublime-project
*.code-workspace
/config/global.php

public/img/articles/covers/*
public/img/avatars/*
public/img/upcms-logo/*
public/media/chat/*
public/media/group_chat/*
sublimeAutoComplete.json
public/exam-files/*
public/material/*
public/material-templates
vendor/